
.section-1{
    width : 100%;
    height :300px;
    background-color :#ccc;
    
}

.section-1:hover {
    background: #ddd;
}

.section-2{
    width : 100%;
    height : 320px;
    background-color: orange;
}

.section-2:hover {
    background: orangered;
}

.move-admin{
    width : 200px;
    height:200px;
    left: 500px;
    position : relative;
    top : 60px;
    display: flex;
    animation-name: admin-login;
    animation-duration: 0.8s;
}
.move-customer{
    width : 200px;
    height :200px;
    left: 500px;
    position : relative;
    top : 20px;
    display:flex;
    animation-name: customer-login;
    animation-duration: 0.8s;
}
.images{
    border-radius : 50%;
    object-fit : fill;
}

@keyframes admin-login {
    0% {transform: translateX(-1000px)}
    100% {transform: translateX(0%)}
}

@keyframes customer-login {
    0% {transform: translateX(1000px)}
    100% {transform: translateX(0%)}
}